/*  your css code here. If applicable */
div{
    font-family:Arial, Helvetica, sans-serif;
}

div::before{
    content: "Before Element";
    color: rgb(255, 0, 0);
    font-size: 22px;
}

div::after{
    content: "After Element";
    color: rgb(255, 0, 0);
    font-size: 22px;
}